body {
    background-color: black;
}

h1 {
    height: 200px;
    width: 400px;

    text-align: center;
    color: limegreen;
    border: 2px solid salmon;
    
    position: fixed;
    top: 50%;
    left: 50%;
    
    padding-top: 5%;
    margin-top: -100px;
    margin-left: -200px;
}

span {
    font-size: 50%;
}